{% extends 'base.html' %}
{% load thumbnail %}
{% load user_filters %}

{% block content %}
<div class="container p-2 m-auto col-md-10 d-flex flex-column flex-lg-row ">
	<div class="card my-1 p-2 col-lg-3 d-none d-md-block">
		{% thumbnail user.photo "200x300" crop="center" as im %}
    <div class="container text-center">
    <img class="m-auto img-fluid" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" style="border-radius:10%;">
    </div>
		{% endthumbnail %} 
	</div>
	<div class="card my-1 col-lg-9">
		<div class="card-body">
      <h5 class="card-title">{{ user.first_name }} {{ user.last_name }}</h5>
			<h6>{{ user.email }}</h6>
			<h6 class="card-title">About me:</h6>
			<p class="card-text">
        {{ user.profile.description }}
      </p>
    </div>
    <div class="card-body text-center">
      <a href="{% url 'personal:edit_profile' user.id %}" class="btn btn-primary">Edit profile</a>
    </div> 
	</div>
</div>
<div class="container p-2 m-auto col-md-10 d-flex flex-column">
  <div class="card">  
  <div class="card-header text-center d-flex justify-content-between align-items-center">
    <i><h5>My articles:</h5></i>
    <div class="">
      <a href="{% url 'posts:post_create' %}" class="btn btn-primary">
        Add
      </a>
    </div>
  </div>
  
  {% for post in posts %}
  {% include "includes/mini_card.html" %}
  {% comment %} <div class="card m-2">
    <div class="card-body">
      <div class="d-flex flex-column flex-sm-row">
        <div class="d-flex flex-column">
          <div class="d-md-flex text-center d-none d-md-block">
            {% thumbnail user.photo "50x50" crop="center" as im %}
            <img class="m-auto img-fluid" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" style="border-radius:10%;">
            {% endthumbnail %}
          </div>
          <div class="text-center">
            {{ post.author.first_name }} {{ post.author.last_name }}
          </div>
        </div>
        <div class="d-flex justity-content-center align-items-center text-truncate">
          <div class="text-truncate">
            <div class="text-center px-2 font-weight-bold h4 "><a href={% url "posts:post_detail" post.pk %}>{{ post.title }}</a></div>
          </div>
        </div>
      </div>
      <div class="d-none d-sm-block">
        <p>{{ post.text|linebreaks|truncatechars:150}}</p>
      </div>
      <div class="d-flex justify-content-between">
        <div>
          <p>{{ post.pub_date|date:"d E Y" }}</p>
        </div>
        <div class="d-flex justify-content-center align-items-center">
          {% if post.author == request.user %}	
						<div>
							<a href="{% url 'posts:post_edit' post.id %}" class="btn btn-primary">
								Edit
							</a>
						</div>
					{% endif %}
        </div>
      </div>
      <div>
        <p>
          <b><i> Tags : </i></b>
          {% for tag in post.tagpost_set.all %}
            {{ tag }}
          {% endfor %}
        </p>
      </div>
    </div>
  </div> {% endcomment %}
  {% endfor %}  
</div>
{% endblock content %}
