{% extends 'base.html' %}
{% load thumbnail %}
{% load user_filters %}

{% block content %}
<div class="container p-2 m-auto col-md-10 d-flex flex-column flex-lg-row ">
	<div class="card my-1 p-2 col-lg-3 d-none d-md-block">
		{% thumbnail person.photo "200x300" crop="center" as im %}
    <div class="container text-center">
    <img class="m-auto img-fluid" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" style="border-radius:10%;">
    </div>
		{% endthumbnail %} 
	</div>
	<div class="card my-1 col-lg-9">
		<div class="card-body">
      <div class="d-flex flex-row align-items-center justify-content-between">
        <h5 class="card-title">{{ person.first_name }} {{ person.last_name }}</h5>
        {% if person != request.user %}
          {% if follows %}
            <div class=""><span class="badge badge-success">Alredy in subscriptions</span></div>
            <a href="{% url 'personal:delete_follow' person.pk %}" class="btn btn-danger">
              Unfollow
            </a>
          {% else %}
            <a href="{% url 'personal:create_follow' person.pk %}" class="btn btn-primary">
              Follow
            </a>
          {% endif %}
        {% endif %}
    </div>
			<h6>{{ person.email }}</h6>
			<h6 class="card-title">About me:</h6>
			<p class="card-text">
        {{ person.profile.description }}
      </p>
    </div>
    <div class="card-body text-center">
      {% if request.user == person %}<a href="{% url 'personal:edit_profile' person.id %}" class="btn btn-primary">Edit profile</a>{% endif %}
    </div>
	</div>
</div>
<div class="container p-2 m-auto col-md-10 d-flex flex-column">
  <div class="card">
    {% if request.user == person %}
      <div class="card-header text-center d-flex justify-content-between align-items-center">
        <i><h5>My articles:</h5></i>
        <div class="">
          <a href="{% url 'posts:post_create' %}" class="btn btn-primary">
            Add
          </a>
        </div>
      </div>
    {% endif %}
    {% comment %} {% if request.user == user %} {% endcomment %}
    {% comment %} {% endif %} {% endcomment %}
  
{% for post in posts %}
  {% include "includes/mini_card.html" %}
{% endfor %}  
</div>
{% endblock content %}
